body {
    margin: 0;
    padding: 0;
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}
img {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    color: white;}
.ligne {
	display: inline-block;
}
button {
    margin-left: auto;
    margin-right: auto;
}
.gauche {
    float: right;
}
.droite {
    float: left;
}
#menu {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 10px;
    z-index: 100;
}
#nameFractalTxt {
    line-height: 36px;
    margin-left: 20px;
}

/*ZOOM*/
.btnZoom {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    background-color: #cccccc!important;
}
.btnZoom:hover {
    background-color: #ffffff!important;
}
.btnZoom:first-child{
    margin: 35px 0 30px 0;
}
/*SWITCH*/

#rowSwitch {
    padding-left: 150px;
    display: flex;
    flex-direction: row;
}

#blockSize label{
    margin-right: 20px;
    line-height: 40px;
}
#blockSize input{
    margin-right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#chkSwitch {
  visibility: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*PAD*/
.set {
    overflow: hidden;
    padding: 30px;
    text-align: right;
}
    .d-pad { margin-right: 40px; }
    .d-pad, .o-pad {
        display: inline-block;
    // transform: scale(.7);
    }

.set.setbg { background: #222; }
.set.setbg2 { background: #5f9837; }


.d-pad {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 48%;
    overflow: hidden;
}
.d-pad:before {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     border-radius: 5%;
     transform: translate(-50%, -50%);
     width: 66.6%;
     background: #ddd;
 }
.d-pad:after {
     content: '';
     position: absolute;
     display: none;
     z-index:2;
     width: 20%;
     height: 20%;
     top: 50%;
     left: 50%;
     background: #ddd;
     border-radius: 50%;
     transform: translate(-50%, -50%);
     transition: all .25s;
     cursor: pointer;

}
.d-pad:hover:after {
     width: 30%;
     height: 30%;
 }
a {
    display: block;
    position: absolute;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 33.3%;
    height: 43%;
    line-height: 40%;
    color: #fff;
    background: #ddd;
    text-align: center;
}
a:hover {
     background: #eee;
 }
a:before {
     content: '';
     position: absolute;
     width: 0;
     height: 0;
     border-radius: 5px;
     border-style: solid;
     transition: all .25s;
 }


a.left, a.right {
    width: 43%;
    height: 33%;
}
a:after {
     width: 78%;
     height: 102%;
 }


a.up {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 17% 17% 50% 50%;
}
a.up:hover {
     background: linear-gradient(0deg, #ddd 0%, #eee 50%);
 }
a.up:after {
     left: 0;
     top: 0;
     transform: translate(-100%, 0);
     border-top-left-radius: 50%;
     pointer-events: none;
 }
a.up:before {
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-width: 0 13px 19px 13px;
     border-color: transparent transparent #aaa transparent;
 }
a.up:active:before {
     border-bottom-color: #333;

}
a.up:hover:before { top: 35%; }

a.down {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50% 50% 17% 17%;
}
a.down:hover {
     background: linear-gradient(180deg, #ddd 0%, #eee 50%);
 }
a.down:after {
     right: 0;
     bottom: 0;
     transform: translate(100%, 0);
     border-bottom-right-radius: 50%;
     pointer-events: none;
 }
a.down:before {
     bottom: 40%;
     left: 50%;
     transform: translate(-50%, 50%);
     border-width: 19px 13px 0 13px;
     border-color: #aaa transparent transparent transparent;
 }
a.down:active:before {
     border-top-color: #333;
 }

a.down:hover:before { bottom: 35%; }

a.left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-radius: 17% 50% 50% 17%;
}
a.left:hover {
     background: linear-gradient(-90deg, #ddd 0%, #eee 50%);
 }
a.left:after {
     left: 0;
     bottom: 0;
     transform: translate(0, 100%);
     border-bottom-left-radius: 50%;
     pointer-events: none;
 }
a.left:before {
     left: 40%;
     top: 50%;
     transform: translate(-50%, -50%);
     border-width: 13px 19px 13px 0;
     border-color: transparent #aaa transparent transparent;
 }
a.left:active:before {
     border-right-color: #333;

}
a.left:hover:before { left: 35%; }

a.right {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    border-radius: 50% 17% 17% 50%;
}
a.right:hover {
     background: linear-gradient(90deg, #ddd 0%, #eee 50%);
 }
a.right:after {
     right: 0;
     top: 0;
     transform: translate(0, -100%);
     border-top-right-radius: 50%;
     pointer-events: none;
 }
a.right:before {
     right: 40%;
     top: 50%;
     transform: translate(50%, -50%);
     border-width: 13px 0 13px 19px;
     border-color: transparent transparent transparent #aaa;
 }
a.right:active:before {
     border-left-color: #333;
 }

a.right:hover:before { right: 35%; }

.d-pad.up a.up:before { border-bottom-color: #333; }
.d-pad.down a.down:before { border-top-color: #333; }
.d-pad.left a.left:before { border-right-color: #333; }
.d-pad.right a.right:before { border-left-color: #333; }
