body {
    background-color: lightblue;
}
img {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    color: white;}
.ligne {
	display: inline-block;
}
button {
    margin-left: auto;
    margin-right: auto;
}
.floatty {
    position: float;
}
.gauche {
    float: right;
}
.droite {
    float: left;
}