#parse("base.html")
#@mainLayout()
<h1>Mendeleiev.bat</h1>
<div>
    <div class="row">
        <img id="mandelbrotImage" src="img/mandelbrot.jpg" />
    </div>
    <div class="block">
        <div class=row>
            <button id="top" class="btn btn-primary solo">Haut</button>
        </div>
        <div class="row">
            <div class="col-4"></div>  <!--  déso c dégueu mé ca marc :3  -->
            <button id="left " class="btn btn-primary gauche">Gauche</button>
            <button id="zoom" class="btn btn-primary">Zoom</button>
            <button id="right" class="btn btn-primary droite">Droite</button>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <button id="down" class="btn btn-primary solo">Bas</button>
        </div>
    </div>
    <script src="/js/javascript.js"></script>
</div>
#end
